/* Instructions 
Live link - https://asiyaa22.github.io/TBC_learning/Unit-test-3/index.html 
1. Copy and paste this cdn inside <head> to use icons from “remix” website.  
<link 
href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.c
 ss" rel="stylesheet" /> 
2. Use icon element for all the icons. And use below classes for the icons to appear. 
● Reddit icon -  class="ri-reddit-fill" 
●  Twiiter icon - class="ri-twitter-fill" 
● Book stack icon - class="ri-database-2-fill” 
3. Body background color is #e5e5e5;Font-family is sans-serif; 
4. Set html font-size to 62.5%. It makes 1 rem =10px(62.5% of 16 px). 
5. Blue color used is #7108f6; 
6. Use favicon image before the document title. 
Navbar 
1. Stick the navbar to the viewport 
2. Background color of navbar is background-color: rgba(255, 255, 255, 0.2); 
3. Use backdrop-filter: blur(10px) for the blurred effect. 
4. Height of the logo image is 5rem 
5. On clicking, the twitter and reddit icons should navigate to twitter and reddit websites. 
7. Font size of icons is 2rem; 
8. Icon-padding is 1.5rem 1.6rem 
9. The buttons should have hover effect as seen on the live website. 
Hero section 
1. Use main_bg as background image 
Form section 
1. Select input field should have a dropdown  
2. Button should have a hover effect. */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    inline-size: 100%;
    block-size: 100vh;
    font-family: sans-serif;
    background-color:  #e5e5e5;
}
header {
    position: sticky;
    top: 0;
}
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    block-size: 15vh;
    padding: 20px;
    block-size: 100px;
}
ul {
    display: inline-flex;
    gap:15px;
    list-style: none;

}
.nav-left {
    display:flex;
    justify-content: space-around;
    align-items: center;
} 
.btn {
    all:initial;
    block-size: 40px;
    padding-inline:20px ;
    background-color: #7108f6;
    color: white;
    border-radius: 20px;
    border: none;
    text-align: center;
    margin-inline: 15px;
    margin-block: 15px; 
    cursor: pointer;
}
.btn3:hover {
    color: #7108f6;
    background-color: white;
    
}
.btn1:hover {
    background-color: #7108f6;
    color: white;
}
.btn2 {
    background-color: white;
    color: black;
}
.btn2:hover {
    background-color: #7108f6;
    color: white;
}
.btn1 {
    background-color: white;
    border: 2px solid  #7108f6;
    color: black;
    inline-size: 70px;
}
.nav-right {
    padding:20px;
}
.icon {
    border-radius: 50%;
    padding: 1.1rem 1.1rem ;
    background-color: white;
    margin-inline: 10px;
    font-size:20px;
}
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(Images/main_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    block-size: 80%;
    
}
h1 {
    font-size: 20px;
    margin: 10px;
}
h3 {
    font-size:50px;
    font-weight: bold;
    padding-inline-start: 10px;
}
span {
    color: #7108f6;
    margin-block-end: 10px;
}
.content p {
    padding: 10px;
    line-height: 1.5;
    color:gray;
}
h4 {
    font-size: 30px;
    color: #7108f6;
    text-align: center;
    margin-block:40px;
}
.box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-box {
    display: block-inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    block-size: 70%;
    inline-size: 40%;
    padding-block: 30px;
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-block: 40px;
}
input {
    padding-inline-start: 10px;
    block-size: 60px;
    inline-size: 500px;
    border: none;
    border: 2px solid gray;
    border-radius: 40px;
    margin-block:10px ;

}
input[type="message"]{
    block-size: 200px;
    /* text-align: left; */
}
input[type="message"]::placeholder {
    /* text-align: start; */
    font-size: 20px;
    margin-block-start: -100px;
}
input::placeholder {
    font-size: 20px;
}
select {
    inline-size: 500px;
    block-size:60px ;
    border-radius: 40px;
    border: none;
    border: 2px solid gray;
    font-size: 20px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7108f6;
    padding-inline:50px ;
    block-size: 10%;
    color: white;
    font-weight: bold;
}
.foot-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    padding: 20px;
}
.btns {
    margin-inline-start: -350px;
    padding-inline:40px;
    border:2px solid #7108f6;
}
.btns:hover {
    background-color: white;
    color:black;
}